@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');




.form-container{
    font-family: "Roboto", sans-serif;
    height: 100vh;
    background-color: lightpink;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .form-container{
    display: flex;
    min-width: 100wv;
    min-height: 400px;
    background-color: aqua;
} */

.form{
    
    border-radius: 25px;
    padding: 2rem;
    background-color: white;
}

.formTitle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-container{
    padding: 0.5rem;

}