.navbar{
    background-color: #B82132;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    height: 4rem;
}

.logo{
    padding-left: 1rem;
}

.logo h1{
    color: white;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    width: 15rem;
    padding-right: 1rem;
}

.link {
    text-decoration: none;
    color: white;
}
