.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #f5f5f5;
    margin-bottom: 7rem;
  }
  
  .product-card {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 250px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
  }
  
  .product-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .product-card h3 {
    color: #000000;
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .product-card p {
    font-size: 1rem;
    color: #000000;
  }

  .btn{
    background-color: #B82132;
    border: none;
    height: 2rem;
    width: 7rem;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
  }

  .btn:hover{
    background-color: #D2665A;
  }

  .lnk{
    text-decoration: none;
    color: white;
    transition: 0.2s ease-in-out;
  }

  .lnk:hover{
    color: white;
    left: 0;
    letter-spacing: 1px;
  }