.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    
}

.header{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: white;
    background-color: none;
}