.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    background-color: lightblue;
    
}

.header{
    color: white;
    background-color: none;
}